.slider{
    min-width: 0;
}
.slick-slider{
    max-width: 203px;

}
.slick-list{
}
.slick-track{
    min-width: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}