#homepage {
  color: #000;
  font-size: 16px;
  font-family: 'SourceSans-regular';
  &._lock {
  }
}
.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  &._loaded {
  }
}

.page {
  &__events {
    padding: 0px 0px 28px 0px;
  }
}

.container {
  margin: 0 auto;
  max-width: 320px;
  padding: 0 16px;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.burger-menu {
  width: 280px;
  min-height: 568px;
  position: fixed;
  top: 0;
  left: -100%;
  background-color: #fafafa;
  opacity: 0;
  z-index: 50;
  &__header {
    box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.08);
    padding: 20px 0px;
  }
  &__body {
    box-shadow: inset 0px -1px 0px #e6e6e6;
  }
  &__footer {
  }
}
.burger-header {
  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 248px;
    margin: 0 auto;
  }
  &__item {
  }
}
.menu-button {
  &_closed {
    padding: 20px 0px;
  }
}
.button-open {
  display: block;
}
.button-closed {
  display: block;
}

.localization-control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__box {
  }
  > #rus {
    border: none;
    outline: none;
  }
  > #ukr {
  }
}

.burger-body {
  &__nav {
    padding: 16px 0px 292px 0px;
  }
  &__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    max-width: 248px;
    margin: 0 auto;
  }
  &__item {
    &:not(:last-child) {
      margin-bottom: 16px;
    }
    @include icon(nth($icons, 1), 1);
    @include icon(nth($icons, 2), 2);
    @include icon(nth($icons, 3), 3);
    @include icon(nth($icons, 4), 4);
    &:nth-child(3) {
      background-size: 19px;
    }
  }
  &__link {
    display: block;
    line-height: 24px;
    color: $primary-dark;
    opacity: 0.7;
    &:hover {
      font-weight: 600;
      opacity: 1;
      transition: 0.2s;
    }
  }
}
.burger-footer {
  &__list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    max-width: 248px;
    margin: 0 auto;
    padding: 16px 0px 20px 0px;
  }
  &__item {
    &:not(:first-child) {
      margin-left: 8px;
    }
  }
  &__login-button {
    width: 50px;
    height: 28px;
  }
  &__registration-button {
    width: 93px;
    height: 28px;
  }
}

.logo {
  &__link {
    display: block;
    max-width: 56px;
    height: auto;
  }
}
.login-button[type='submit'] {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: calc(50% - 28px / 2);
  border: 1px solid #ef1126;
  border-radius: 4px;
  font-family: 'SourceSans-semibold';
  font-size: 12px;
  line-height: 16px;
  color: $primary-dark;
  background-color: initial;
  cursor: pointer;
  &:hover {
    transition: 0.7s;
    background-color: $button-red;
    color: $color-white;
    transform: translateY(4px);
  }
}
.registration-button[type='submit'] {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: calc(50% - 28px / 2);
  border: 1px solid #9f9f9f;
  border-radius: 4px;
  font-family: 'SourceSans-semibold';
  font-size: 12px;
  line-height: 16px;
  color: $primary-dark;
  background-color: initial;
  cursor: pointer;
  &:hover {
    transition: 0.7s;
    background-color: $button-silver;
    color: $color-white;
    transform: translateY(4px);
  }
}

.post-events {
  &__image {
    margin-bottom: 12px;
    border-radius: 4px 4px;
    display: block;
  }

  &__heading {
    font-family: 'SourceSans-semibold';
    max-width: 264px;
    font-size: 14px;
    line-height: 20px;
    color: $primary-dark;
    text-align: left;
    padding-bottom: 16px;
    margin: 0 auto;
  }
}
.box-icon {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 264px;
  margin: 0 auto;
  &__pin {
    display: flex;
    align-items: flex-start;
  }
  &__union {
    display: flex;
    align-items: flex-start;
  }
  &__text {
    font-family: 'SourceSans-regular';
    font-size: 12px;
    line-height: 16px;
    color: $primary-dark;
    opacity: 0.7;
  }
  &__image {
    margin: 0px 6px 0px 0px;
    &:not(:first-child) {
      margin: 0px 0px 0px 5px;
    }
  }
}

.article-list {
  &__item {
    margin-top: 16px;
    max-width: 288px;
    background: #ffffff;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.05);
  }

  &__post {
    padding-bottom: 12px;
  }
}

.search-field {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0px;

  &__input {
    width: 100%;
    max-width: 248px;
    height: 32px;
    border: none;
    outline: none;
    border-radius: 20px;
    font-family: 'SourceSans-semibold';
    font-size: 12px;
    line-height: 16px;
    background: url('../assets/img/common/Search.svg') no-repeat 12px center #f5f5f5;
    background-size: 16px;
    // margin-left: 15px;
    padding-left: 36px;
    &:focus {
      opacity: 1;
      font-family: 'SourceSans-regular';
      transition: 1s;
      background-image: none;
    }
  }

  &__settings-button {
    display: block;
    margin: 0px 5px 0px 6px;
    padding: 10px 0px;
    width: 28px;
    height: 10px;
    border: none;
    outline: none;
    background-color: initial;
    background-image: url('../assets/img/common/Filters.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px;
    cursor: pointer;
  }
}
