.multi-tabs 
    ul.multi-tabs__list
        li.multi-tabs__item
            button.multi-tabs__button(data-active="true" data-name="my-cards")|Мои
        li.multi-tabs__item
            button.multi-tabs__button(data-active="false" data-name="upcoming-cards")|Предстоящие
        li.multi-tabs__item
            button.multi-tabs__button(data-active="false" data-name="past-cards")|Прошедшие
        