nav.tab-bar
    ul.tab-bar__list
        li.tab-bar__item 
            a.tab-bar__link(href='./profile.html')
            span.tab-bar__text|Профиль
        li.tab-bar__item
            a.tab-bar__link(href='./events-my.html')
            span.tab-bar__text|События
        li.tab-bar__item
            a.tab-bar__link(href='./federation.html')
            span.tab-bar__text|Федерации
        li.tab-bar__item
            a.tab-bar__link(href='./coaches.html')
            span.tab-bar__text|Тренера
        li.tab-bar__item
            a.tab-bar__link(href='./staff.html')
            span.tab-bar__text|Ученики
        li.tab-bar__item
            a.tab-bar__link(href='')
            span.tab-bar__text|Секции