.notification
    .notification__body
        p.notification__text|Після реєстрації спортсменів міста\області через цю подію на сайті завантажуйте файл Заявки, роздруковуйте його та з печаткою або підписом здавайте Заявку на мандатній комісії. По кожному спортсмену в Заявці повинен бути зазначений спортивний розряд.