include ../item-result-person/item-result-person.pug
mixin item-result-open 
    article.item-result-open
        .item-result-open__header.header-item-result-open
            .header-item-result-open__row
                .header-item-result-open__col-11 
                    h5.header-item-result-open__label|Дівчата молодшого віку
                    h3.header-item-result-open__title|до 22 кг
                .header-item-result-open__col-1
                    button.header-item-result-open__button._icon-arow
        .item-result-open__body.body-item-result-open
            ul.body-item-result-open__list
                li.body-item-result-open__item