footer.footer
    .container
        .footer__body
            .footer__row
                .footer__col-12
                    p.footer__copy
                        | Real Talk Sport 
                        br 
                        |                   2021
                    
                    
                    