doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  meta(name='description' content='')
  meta(name='author' content='Genesis')
  title Genesis
  link(rel='icon' type='image/x-icon' href='../../images/favicons/favicon.ico')
  link(rel='preconnect' href='https://fonts.gstatic.com')
  link(rel='apple-touch-icon' sizes='180x180' href='../../images/favicons/apple-touch-icon.png')
  link(rel='icon' type='image/png' sizes='32x32' href='../../images/favicon-32x32.png')
  link(rel='icon' type='image/png' sizes='16x16' href='../../images/favicon-16x16.png')
  meta(name='msapplication-TileColor' content='#da532c')
  meta(name='theme-color' content='#ffffff')
  meta(property='og:url' content='https://www.markup-boilerplate.com')
  meta(property='og:type' content='website')
  meta(property='og:title' content='Markup Boilerplate')
  meta(property='og:description' content='Markup Boilerplate')
  meta(property='og:image' content='https://www.markup-boilerplate.com/assets/img/logo.jpg')
//-   link(rel="stylesheet", href="https://code.jquery.com/jquery-3.6.0.min.js")
