form#seachForm.search-form(action="#", method='POST')
    .search-form__body
        .search-form__row
            .search-form__col-9
                input#searchLine.search-form__search-line(type="search", placeholder='Поиск')
            .search-form__col-3
                a.search-form__button-filters(href='./filters.html')
                