//- include ../pug/libs/_libs.pug
doctype html
include ../pug/_head.pug
html(lang='en')
  body#homepage
    .wrapper
        //- include ../pug/_header.pug
a(href="./index.html") 
img(src=require("../assets/img/common/Logo.svg"), alt="logo")

