.card-calendar-event {
	max-width: 288px;
	margin: 0 auto;
	background: #ffffff;
	box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.07);
	border-radius: 8px;
    &_border_green{
        border: 1px solid #309128;
    }
	&__body {
		padding: 12px;
	}
	&__row {
		@include row;
	}
	&__col-2 {
	}
	&__col-9 {
		padding-left: 12px;
	}
	&__heading {
		@include h3;
	}
	&__label {
		padding-top: 8px;
		&::before {
			color: $button-red;
			font-size: 16px;
			position: relative;
			top: 1px;
			padding-right: 4px;
		}
	}
}
