footer.footer 
    ._container
        .footer__body
            .footer__row 
                .footer__col-1
                    p.footer__text
                        |Real Talk Sport
                        br
                        |2021