.footer{
    margin-top: 20px;
    background-color: #f8f8f8;
    &__body{
        padding: 8px 0px 12px 0px;
    }
    &__row{
        @include row
    }
    &__col-1{
        @include column(100%)
    }
    &__text{
        text-align: center;
    }
}