header.header-club
    ._container
        .header-club__body 
            nav.header-club__nav
                ul.header-club__list
                    li.header-club__item 
                        button#burgerMenu.header-club__burger
                    li.header-club__item
                        include ../../logo/logo.pug
                    li.header-club__item
                        button#button_profile.header-club__button-user._icon-user

