include ./components/head/head.pug
body#ihomepage.homepage
    ._wrapper
        include ./components/header/header-default/header-default.pug
        include components/navigation-components/side-bar-menu/side-bar-menu.pug
        include ./components/navigation-components/search-form/search-form.pug
        main#ipage.page
            section.page__events.events