.change-language-switch
    .change-language-switch__item 
        input#toggleRus.change-language-switch__toggle(type="radio" name='toogle' value='Ukr')
        label(for="toggleRus")|Rus
    .change-language-switch__item
        input#toggleUkr.change-language-switch__toggle(type="radio" name='toogle' value='Ukr' checked)
        label(for="toggleUkr")|Ukr