mixin item-result-closed
    article.item-result-closed
        .item-result-closed__header.header-item-result-closed
            .header-item-result-closed__row
                .header-item-result-closed__col-11 
                    h5.header-item-result-closed__label|Дівчата молодшого віку
                    h3.header-item-result-closed__title|до 22 кг
                .header-item-result-closed__col-1
                    button.header-item-result-closed__button._icon-arow
        .item-result-closed__body.body-item-result-closed
            .body-item-result-closed__row 
                .body-item-result-closed__col-12
                    ul.body-item-result-closed__list
                        li.body-item-result-closed__item._icon-cup
                            h3.body-item-result-closed__heading|Кулакова Аліна
                        li.body-item-result-closed__item._icon-cup
                            h3.body-item-result-closed__heading|Турі Юлія
                        li.body-item-result-closed__item._icon-cup
                            h3.body-item-result-closed__heading|Мамедова Аліна
